@model IEnumerable<MapsEditor.Domain.Entitties.Map>

<h3>My List</h3>

    @using (Html.BeginForm("Searching", "Home"))
    {
        <div><input  type="text" name="Name" placeholder="Input name here"  /><button type="submit" class="btn btn-default" style="border:none;background:none;"><i class="glyphicon glyphicon-search "></i></button></div>

    }
    <h4 style="padding-left:500px">Welcome: @ViewBag.User</h4>
    <p>
        @Html.ActionLink("Add new entry", "Create", "Home")
    </p>

    @*@Html.ActionLink("This targets another controller", "MySegmentVariable",
        new { id = "ValueFromActionLink!" })*@
    <table class="table table-bordered table-condensed table-hover">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>

            <th>
                @Html.DisplayName("GeoJson data")
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <br />
                    @Html.ActionLink("View map", "DetailMap", new { id = item.Id })<br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                </td>
            </tr>
        }

    </table>
   
    <p>
        @Html.ActionLink("Log out", "Logoff", "Registration")
    </p>
